/.*\.o$
/.*\.obj$
/.*\.d$
/.*\.pp$
/.*\.mk$
build/*
*.cache
*.log
*/.deps/*
*/*/.deps/*
*/*/*/.deps/*
main.i
main.s
*.o
*.lo
*.dirstamp
.libs/*
*/.libs/*
*/*/.libs/*
*/*/*/.libs/*
Makefile
bdf2u8g
confdefs.h
config.h
conftest*
conf*/*.awk
*.status
libtool
lib*.la
stamp-h*
u8gsdl_2bit
u8gsdl_8bit
u8gsdl_chess
u8gsdl_circle
u8gsdl_clip
u8gsdl_cursor
u8gsdl_fonttop
u8gsdl_fullcolor
u8gsdl_gabc
u8gsdl_gah
u8gsdl_greek
u8gsdl_helloworld
u8gsdl_helloworldpp
u8gsdl_hicolor
u8gsdl_logo
u8gsdl_menu
u8gsdl_polygon
u8gsdl_spacetrash
u8gsdl_xbm
*.dSYM
